body {
  background-color: rgb(26, 26, 29)
}
div {
  color: white
}
button {
  background-color: black;
  color: rgb(19, 66, 142)
}
#title {
  text-align: center
}
@media (min-width: 1200px) {
  button {
    font-size: 40px
  }
}
@media (min-width: 1px) {
  button {
    font-size: 50px
  }
}
   
